.container {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  font-size: 18px;
}

.listItem {
  display: inline;
  margin-right: 30px;
  font-size: 14px;
  color: lightgray;
}

.listItem:hover {
  color: tomato;
}
